@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;800&display=swap');

body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: $color-main-bg;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    padding-bottom: 50px;
}

h1 {
    margin-left: 50px;
    margin: 40px 0 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.bold {
    font-weight: bold;
}
/* ====== Header ======== */

header {
    
    background-color: $color-pink-medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;

    .page-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        width: 100%;
        height: 80px;

        h1 {
            margin: 0;
        }
    }

    .menu_icon {
        width: 36px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
    .hello-user-wrapper {

        display: flex;
        align-items: center;
        height: 100%;
        color: black;
        
        .hello_user {
            font-weight: bold;
            margin: 0 20px;
        }

        .default-avatar {
            height: 96%;
        }
    }
}

nav.menu {
    display: none;
    transform: translateX(-120%);
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 0px;
    transition: all 0.5s 0s ease-out;
    background-color: $color-green-light;
    border: solid 2px $color-green-medium;
    padding: 20px 30px;
    width: 100vw;
    height: calc(100vh - 50px);


    a {
        cursor: pointer;
        text-decoration: none;
        color: black;
        padding: 8px 0;
        margin-left: 20px;
        font-size: 20px;

        &:hover {
            color: $color-green-dark;
            border-bottom: solid 1px $color-green-dark;
        }
    }

    &.open {
        display: flex;
        transform: translateX(-20px);
    }

    .close_menu {
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

/* ====== Homepage ======== */

.homepage {
    background-image: url('../images/two-dogs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 130px);
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .wrapper-boxes-homepage {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .signup_now {
            background-color: unset;
            border: unset;
        }

    }

}


/* ====== Login and Signup ======== */

.section_signup {
    margin: 50px auto;
    width: 100%;
}

.signup_now,
.login_now {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section_signup .subtitle {
    text-align: center;
}


/* ====== Forms ======== */

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .fields {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        width: 100%;
    }

    label {
        width: 150px;
        display: block;
    }

    
    input, select, textarea {
        border-radius: 6px;
        border: solid 1px #ccc;
        width: 60%;
        padding: 10px;
        font-family: inherit;
        background-color: white;
    }
    
    input[type=radio] {
        width: 50px;
    }

}

.group-links {
    display: flex;

    a {
        color: $color-green-dark;
        border: solid 2px $color-green-dark;
        background-color: $color-green-light;
        margin: 10px auto;
        font-size: 13px !important;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.3 0s;

        &:hover {
            background-color: $color-green-medium;
        }
    }
}

.group-btn {
    display: flex;
}

.btn {
    background-color: $color-green-dark;
    border: solid 1px white;
    color: white;
    width: max-content;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    display: block;
    transition: all 0.5s 0s;
    font-size: 14px;
    margin: 20px auto;


    &:hover {
        background-color: $color-green-medium;
        border: solid 1px $color-green-dark;
    }
}

.btn.secondary {
    background-color: $color-pink-medium;
    border: solid 1px$color-pink-dark;
    color: black;

    &:hover {
        background-color: $color-pink-light;
    }
}

section {
    padding: 20px;
}

/* ====== Flash messages ======== */

.flash {
    border-radius: 10px;
    margin: 0 auto 20px;
    padding: 20px 40px;
    width: 400px;
    text-align: center;
    transition: all 3s 0s;
}

.info {
    border: solid 2px $color-green-dark;
    background-color: $color-green-light;
}

.error {
    border: solid 1px brown;
    background-color: #ffcccb;
}


/* ====== Profiles ======== */

.section_profile {
    margin-top: 20px;
}

.title-box {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 30px 20px;
}

.white-box {
    border: solid 3px white;
    background-color: rgba($color: #fff, $alpha: 0.6);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}
.profile-preferences {

    .white-box.preferences {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;

        .pref {
            display: flex;
            width: 100%;
        }
    
        span {
            font-weight: bold;
            width: 50%;
            display: block;
        }
    }
    
}

/* ====== Animal page ======== */

.animal {
    width: 100%;
    margin: 0 auto;

    &-main-picture {
        width: 160px;
        margin: 20px auto;
        position: relative;

        img {
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            width: 160px;
            height: 160px;
        }
        .name-animal {
            font-weight: bold;
            text-align: center;
            font-size: 18px;
        }
    }

    .big-white-wrapper {
        border: solid 4px white;
        background-color: rgba($color: #fff, $alpha: 0.7);
        padding: 120px 20px 20px 20px;
        border-radius: 30px;
        margin-top: -130px;
        width: 100%;
    
        .animal-details-top {
            .animal-details {
                width: 100%;
            }
        
            .animal-pictures {
                margin: 30px auto;
                text-align: center;
                max-width: 300px;
        
                img {
                    border-radius: 5px;
                    transition: all 0.4s 0s;
                }
                .pic-animal-big {
                    width: 90%;
                    max-width: 300px;
                }
                .pic-animal-small {
                    width: 70px;
                    cursor: pointer;
                }
                .disabled {
                    opacity: 0.3;
                    cursor: unset;
                }
            }

            .animal-description {
                margin-top: 30px;
            }
        }
    }

    .group-btn {
        margin-top: 30px;
    }

}

.heart-icon {
    position: absolute;
    bottom: 52px;
    right: -10px;
    cursor: pointer;

    path {
        transition: all 1s 0s;
        //width: 40px;   // does not work
    }

    &.fav {
        path {
            fill: $color-pink-dark;
            &:hover {
                fill: $color-pink-light;
            }
        }
    }

    &.notfav {
        path {
            fill: $color-pink-light;
            &:hover {
                fill: $color-pink-dark;
            }
        }
    }
}

/* ====== Animals list ======== */

.animals-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .animal-in-list {
        width: 45%;
        margin: 0 10px 10px 10px;
        position: relative;
        text-align: center;

        .heart-icon {
            bottom: 68px;
            right: 16%;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 15px;
        }

        img {
            width: 100%;
            border-radius: 10px;
            transition: all 0.2s 0s;

            object-fit: cover;
            width: 160px;
            height: 160px;

            &:hover {
                box-shadow: 0px 3px 10px $color-green-medium;
            }

        }

        .animal-info {
            text-align: center;
            .animal-name {
                font-weight: bold;
            }
        }
    }
}


.filters {
    border: solid 2px $color-green-medium;
    background-color: $color-yellow-light;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 30px auto;

    .btn {
        margin: 0px;
    }

    .animals-filter {
        display: flex;

        label {
            margin-right: 20px;
        }

        input[type="checkbox"] {
            //remove default styles:
            -webkit-appearance: none;
            appearance: none;

            // add ours:
            background-color: $color-green-light;
            border: 1px solid #cacece;
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;

            display: block;
            border: solid 1px $color-green-dark;
            width: 20px;
            height: 20px;
            margin-right: 10px;

        }
        
        input[type="checkbox"]:checked {
            background-color: $color-green-medium;
            color: #99a1a7;

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                height: 50%;
                width: 3px;
                background-color: $color-green-dark;
                content: "";
                transform: translateX(10px) rotate(-45deg);
                transform-origin: left bottom;
            }
            
            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $color-green-dark;
                content: "";
                transform: translateX(10px) rotate(-45deg);
                transform-origin: left bottom;
            }
        }
        
    }
}


/* ====== Shelters ======== */

.section_profile.shelter {
    display: flex;
    flex-direction: column;
    
    .animals-shelter {
        .title-box {
            text-align: center;
        }
    }

    .shelter-list-animals {
        display: none;
    }
    
    .btn.shelter-list-animals {
        display: block;
        margin-top: 40px;
    }
}



/* ====== Footer ======== */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: $color-green-dark;
    color: white;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
