@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;800&display=swap');

body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: $color-main-bg;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    padding-bottom: 60px;
}

h1 {
    margin-left: 50px;
    margin: 40px 0 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/* ====== Header ======== */

header {
        
    background: $color-gradient-dark;
    background: -moz-linear-gradient(270deg, $color-gradient-dark 0%, $color-gradient-light 100%);
    background: -webkit-linear-gradient(270deg, color-gradient-dark 0%, $color-gradient-light 100%);
    background: linear-gradient(0deg, color-gradient-dark 0%, $color-gradient-light 100%);  

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;

    .menu_icon {
        width: 36px;
        cursor: pointer;
    }

    .logout {
        color: $color-green-dark;
        width: max-content;
    }

    .hello-user-wrapper {

        display: flex;
        align-items: center;
        height: 100%;
        
        .hello_user {
            font-weight: bold;
            margin: 0 20px;
        }

        .default-avatar {
            height: 96%;
        }
    }
}

nav.menu {
    display: none;
    transform: translateX(-120%);
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 0px;
    transition: all 0.5s 0s ease-out;
    background-color: $color-green-light;
    border: solid 2px $color-green-medium;
    padding: 20px 30px;
    width: 100vw;
    height: calc(100vh - 50px);


    a {
        cursor: pointer;
        text-decoration: none;
        color: black;
        padding: 8px 0;
        margin-left: 20px;
        font-size: 20px;

        &:hover {
            color: $color-green-dark;
            border-bottom: solid 1px $color-green-dark;
        }
    }

    &.open {
        display: flex;
        transform: translateX(-20px);
    }

    .close_menu {
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

/* ====== Homepage ======== */

.homepage {
    background-image: url('../images/two-dogs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 130px);
    background-position: center;

    .wrapper-boxes-homepage {

        .signup_now {
            background-color: unset;
            border: unset;
        }

    }

}




/* ====== Forms ======== */

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .fields {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        width: 100%;
    }

    label {
        width: 150px;
        display: block;
    }

    
    input, select, textarea {
        border-radius: 6px;
        border: solid 1px #ccc;
        width: 60%;
        padding: 10px;
        font-family: inherit;
        background-color: white;
    }
    
    input[type=radio] {
        width: 50px;
    }

}

.group-btn {
    display: flex;
}

.btn {
    background-color: $color-green-dark;
    border: solid 1px white;
    color: white;
    width: max-content;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    display: block;
    transition: all 0.5s 0s;
    font-size: 14px;
    margin: 20px auto;


    &:hover {
        background-color: $color-green-medium;
        border: solid 1px $color-green-dark;
    }
}

.btn.secondary {
    background-color: $color-pink-medium;
    border: solid 1px$color-pink-dark;
    color: black;

    &:hover {
        background-color: $color-pink-light;
    }
}

.hello_user {
    color: $color-green-dark;
}

main {
    //margin-top: 70px;
}

section {
    padding: 20px;
}

/* ====== Flash messages ======== */

.flash {
    border-radius: 10px;
    margin: 0 auto 20px;
    padding: 20px 40px;
    width: 80%;
    text-align: center;
    transition: all 3s 0s;
}

.info {
    border: solid 1px #097969;
    background-color: #DAF7A6;
}

.error {
    border: solid 1px brown;
    background-color: #ffcccb;
}


/* ====== Login and Signup ======== */

.section_signup {
    margin: 50px auto;
    width: 100%;
}

.signup_now,
.login_now {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_signup .subtitle {
    text-align: center;
}

/* ====== Profiles ======== */

.section_profile {
    margin-top: 20px;
}

.title-box {
    font-weight: bold;
}

.white-box {
    border: solid 3px white;
    background-color: rgba($color: #fff, $alpha: 0.6);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}


/* ====== Animal page ======== */

.animal {
    width: 90%;
    margin: 0 auto;

    &-main-picture {
        width: 160px;
        margin: 20px auto;
        position: relative;

        img {
            width: 100%;
            border-radius: 50%;
        }
        .name-animal {
            font-weight: bold;
            text-align: center;
            font-size: 18px;
        }
    }

    &-details {
        width: 100%;
    }

    &-pictures {
        margin: 30px auto;
        text-align: center;

        img {
            border-radius: 5px;
        }
        .main {
            width: 90%;
            max-width: 300px;
        }
        .small {
            width: 70px;
        }
    }
}

.heart-icon {
    position: absolute;
    bottom: 50px;
    right: 10px;
    cursor: pointer;

    path {
        transition: all 1s 0s;
        //width: 40px;   // does not work
    }

    &.fav {
        path {
            fill: $color-pink-dark;
            &:hover {
                fill: $color-pink-light;
            }
        }
    }

    &.notfav {
        path {
            fill: $color-pink-light;
            &:hover {
                fill: $color-pink-dark;
            }
        }
    }
}

/* ====== Animals list ======== */

section.animals-list {

    .animals-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .animal-in-list {
            width: 45%;
            margin: 10px;
            position: relative;
            text-align: center;

            .heart-icon {
                bottom: 80px;
                right: 20%;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 15px;
            }

            img {
                width: 100%;
                border-radius: 10px;
                transition: all 0.2s 0s;

                object-fit: cover;
                width: 160px;
                height: 160px;

                &:hover {
                    box-shadow: 0px 3px 10px $color-green-medium;
                }

            }

            .animal-info {
                text-align: center;
                .animal-name {
                    font-weight: bold;
                }
            }
        }
    }
}

.filters {
    border: solid 2px $color-pink-medium;
    background-color: $color-pink-light;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 30px auto;

    .btn {
        margin: 0px;
    }

    .animals-filter {
        display: flex;

        label {
            margin-right: 20px;
        }

        input[type="checkbox"] {
            //remove default styles:
            -webkit-appearance: none;
            appearance: none;

            // add ours:
            background-color: $color-pink-light;
            border: 1px solid #cacece;
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;

            display: block;
            border: solid 1px $color-pink-dark;
            width: 20px;
            height: 20px;
            margin-right: 10px;

        }
        
        input[type="checkbox"]:checked {
            background-color: $color-pink-medium;
            color: #99a1a7;

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                height: 50%;
                width: 3px;
                background-color: $color-pink-dark;
                content: "";
                transform: translateX(10px) rotate(-45deg);
                transform-origin: left bottom;
            }
            
            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $color-pink-dark;
                content: "";
                transform: translateX(10px) rotate(-45deg);
                transform-origin: left bottom;
            }
        }
        
    }
}


/* ====== Footer ======== */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: $color-green-dark;
    color: white;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
