@media all and (min-width: 1100px) {     

    header {
        .logo {
            width: 220px;
        }
        .hello-user-wrapper {
            width: 400px;
            justify-content: space-evenly;

            .logout-and-hello {
                display: flex;
                flex-direction: row;
                width: 80%;
                justify-content: space-around;

                .logout {
                    order: -1;
                }
            }
        }
    }

    .section_profile {
        width: 87%;
        margin: 0 auto;
    }

    .section_profile .animals-list,
    .section_profile .animals-favorite {
        
        margin-left: 50px;

        .animals-grid {
            padding: 30px;

            .animal-in-list {
                width: 170px;
                margin: 0 20px 20px 20px;
    
                .main-pic-wrapper {
                    width: 190px;
                    height: 190px;
                    margin-bottom: 20px;
            
                    img {
                        width: 190px;
                        height: 190px;
                    }
                }
            }
        }
    }

    .section_profile.shelter {
        .animals-shelter {
            width: 80%;
        }
        .animals-grid {

            .animal-in-list {
                width: 200px;
                margin: 0 30px 30px 30px;
    
                img {
                    object-fit: cover;
                    width: 220px;
                    height: 220px;
                }
            }
        }    
    }

    .animals-grid .animal-in-list .main-pic-wrapper {
        width: 220px;
        height: 220px;
    }


    .animals-list .animals-grid, 
    .pagination-links {
        width: 900px;
    }
    
    .section_edit_profile,
    .section_signup {
        width: 800px;
        margin: 40px auto;
    }

}