@media all and (min-width: 1100px) {     
    
    .section_profile {
        width: 85%;
        margin: 0 auto;
    }

    .section_profile.shelter {
        .animals-shelter {
            width: 80%;
        }

        .animals-grid {

            .animal-in-list {
                width: 200px;
                margin: 0 30px 30px 30px;
    
                img {
                    object-fit: cover;
                    width: 230px;
                    height: 230px;
                }
            }
        }    
        
    }


    .section_profile .animals-list,
    .section_profile .animals-favorite {
        
        margin-left: 50px;

        .animals-grid {
            padding: 30px;
        }
        .animal-in-list {
            width: 165px;
            margin: 0 20px 20px 20px;

            img {
                object-fit: cover;
                width: 165px;
                height: 165px;
            }
        }
    }
    



    

}