
$color-main-bg: #FFF1E6;

$color-gradient-dark: #FEDCC6;
$color-gradient-light: #F8EBE2;

$color-green-dark: #79663D;
$color-green-medium: #CCB88D;
$color-green-light: #ECDDBD;

$color-orange-dark: #FFC7A0;
$color-orange-light: #FFF1E6;

$color-pink-dark: #AB4851;
$color-pink-medium: #F6B5BB;
$color-pink-light: #FDEFF0;

$color-yellow-medium: #FFE7BB;
$color-yellow-light: #FFF2DA;




