  <!-- information and successful messages -->
  
  {{#if message}}
    <p class="message">{{message}}</p>
  {{/if}}

  <!-- error messages -->

  {{#if error }}
    <p class="error_message">{{error.message}}</p>
  {{/if}}