
  <!-- information and successful messages stored in the User -->
  
  {{#if loggedInUser }}
    <p class="message">{{ loggedInUser.alertMessage }}</p>
  {{/if}}

  <!-- error messages -->

  {{#if error }}
    <p class="error_message">{{ error.message }}</p>
  {{/if}}