

{{#if messages.info}}
<div class="flash info">
  <span>{{ messages.info }}</span>
</div>
{{/if}}

{{#if messages.error}}
<div class="flash error">
  <span>{{ messages.error }}</span>
</div>
{{/if}}
