<header>

    {{#if currentUser}}
        
        <img src="../../../images/menu.png" class="menu_icon" id="menu_icon" />
         
        {{>navBar}}

        <div class="hello-user-wrapper">
            <a href="/auth/logout" class="logout">Log out</a> 
            <h3 class="hello_user">Hello {{ currentUser.username }}!</h3>

            {{#if currentUser.imageUrl}}
                <img class="user-avatar" src="{{currentUser.imageUrl}}">
            {{else}}
                <img class="default-avatar" src="../../../images/default-avatar.png">
            {{/if}}
            
        </div>

    {{else}}
        
        <div class="page-title">
            <h1>Resc-u</h1>
            <p>Adopt an animal. Rescue yourself.</p>
        </div>

    {{/if}}

</header>