
<nav class="menu">
        <img src="../../../images/close-menu.png" class="close_menu" id="close_menu" />
        <a href="/users/{{currentUser.usertype}}/{{currentUser.username}}">My profile</a>
        <a href="/animals">Animals</a>
        <a href="/shelters">Shelters</a>
</nav>