/* general formatting */

body {
    font-family: Futura;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    margin-left: 50px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
}

.fields {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.form label {
    width: 200px;
}

.form input,
.form select {
    border-radius: 6px;
    border: solid 1px #ccc;
    width: 200px;
    padding: 10px;
    font-family: Futura;
}

.form select {
    width: 220px;   /* needs a little more width */
}

.form input[type=radio] {
    width: 50px;
}

.btn {
    border: solid 1px black;
    background-color: #E7F4EA;
    color: black;
    width: max-content;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    margin-top: 30px;
    display: block;
}

.btn:hover {
    background-color: #fff;
}

.message {
    border: solid 1px #097969;
    background-color: #DAF7A6;
}

.error_message {
    border: solid 1px brown;
    background-color: #ffcccb;
}

.message,
.error_message {
    border-radius: 10px;
    margin: 0 auto 20px;
    padding: 20px 40px;
    width: 80%;
}

.hello_user {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
}

main {
    margin-top: 70px;
}

section {
    padding: 40px;
}

/* ====== Login and Signup ======== */
.section_login,
.section_signup {
    width: max-content;
    margin: 50px auto;
}
.signup_now,
.login_now {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_signup .subtitle {
    text-align: center;
}

/* ====== Login and Signup ======== */

.section_profile {
}