
<section class="section_profile">

    <h1>My Profile </h1>

    {{> alertMessages }}

    <p>Showing shelter's profile</p>

    <p> TO DO </p>

    <a href="/users/profile/edit" class="btn">Edit profile</a>

</section>
