<p>Here Admin can see, edit and delete EVERYTHING</p>
<p>TO DO</p>

<h3>Showing admin's profile</h3>

<a href="#" class="btn">Animals</a>
<a href="#" class="btn">Adopters</a>
<a href="#" class="btn">Shelters</a>